<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Filtro UTF-8 -->
    <!--
    <filter>
        <filter-name>Utf8Filter</filter-name>
        <filter-class>com.serra.filtros.Uft8Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Utf8Filter</filter-name>
        <url-pattern>/ejerciciosmvc/mastermind/*</url-pattern>
    </filter-mapping>
    -->
</web-app>
